@font-face {
  font-family: inter;
  src: url(fonts/Inter-Black.woff2);
  font-weight: bold;
}

@font-face {
  font-family: inter;
  src: url(fonts/Inter-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: inter;
  src: url(fonts/Inter-SemiBold.woff2);
  font-weight:600;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 25px 60px;
  width: auto;
  height: auto;
  background-image: url('images/background1.avif');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body * {
  background-color:transparent;
}

h1 {
  color:rgb(0, 115, 255);
  font-weight: bold;
  font-family:inter;
  text-shadow: 7px 7px 3px lightblue;
}

img {
  height: auto;
  width: auto;
}

.medium_text {
  color:rgb(50, 50, 50);
  font-weight:600;
  font-family:inter;
}

.hidden{
  opacity:0;
  transition: all 800ms;
}

.show{
  opacity: 1;
}

.line {
  border: 1px solid rgb(0, 115, 255);
}

#ambient {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 80%;
  left: 0;
  top: 4;
  z-index: -1;
}

/*ledger and all children*/

#ledger {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgb(255, 255, 255);
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 10;
}

.ledger_container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.ledger_button {
  border: none;
  color: rgb(40, 40, 40);
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
  font-family: inter;
  text-decoration: none;
}

.ledger_button:hover {
  color: rgb(0, 115, 255);
  font-weight: bolder;
  transform: scale(1.1);
  transition:all ease-in-out 300ms;
}

.dropdown {
  position: relative;
  display: inline-block;
}


#dropdown_button {
  color: rgb(40,40,40);
  padding: 0px 45px;
}


.dropdown_content {
  display: none;
  position: absolute;
  min-width: 160px;
  padding-top: 7%;
}

.dropdown_content a {
  color: rgb(40,40,40);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family:inter;
  background-color: rgb(230,230,230);
}

.dropdown_content a:hover {
  color:rgb(0, 115, 255);
  border: 2px solid rgb(0, 115, 255);
  background-color: rgb(200,200,200);
  transition:all ease-in-out 200ms;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.dropdown:hover #dropdown_button {
  color:rgb(0, 115, 255);
}

/*home page and all children*/

#home_page {
  display: flex;
  align-items: center;
  gap: 10%;
  margin-bottom:10%;
}

#face{
  margin-top: 10%;
  margin-left:15%;
  max-width: 25%;
  max-height: 25%;
  border-radius: 100%;
}

#introduction {
  font-size: 2vw;
  margin-top:10%;
}

.icons{
  height: 5%;
  width: 5%;
}

/*about me section and all children*/

#about_me {
  color:rgb(0, 115, 255);
  font-weight: bold;
  font-size: 2vw;
  margin: 8% 17%;
}

/*education section and all children*/

#education {
  display: flex;
  gap:4%;
  background-color: rgb(230, 230, 230);
  margin: 8% 20%;
  padding: 4%;
  border-radius: 5%;
  box-shadow: 10px 10px 5px lightblue;
}

#education:hover{
  background-color: rgb(250, 250, 250);
  border:5px solid rgb(0, 115, 255);
  box-shadow: 30px 30px 15px lightblue;
  transition:all ease-in-out 500ms;
}

#image_content {
  max-height: 40%;
  max-width: 40%;
  align-self: center;
}

#education_text {
  font-size: 128%;
}

/*skills section and all children*/
/*skills categories*/
#skills_categories{
  margin: 8% 8% 15%;
  margin-bottom: 0%;
  display: grid;
  grid-template-columns: 28% 28% 28%;
  align-items: baseline;
  justify-content: center;
  padding: 7%;
  padding-bottom: 0%;
  gap: 2%;
  row-gap: 3%;
  border-radius: 4%;
}

.skill_category_button_hidden{
  border: none;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
  font-family: inter;
  padding: 28%;
  border-radius: 4%;
  transform: translateX(-100%);
  opacity:0;
  filter:blur(5px);
  transition: all 200ms;
}

.skill_category_button_hidden:nth-child(3){
  transition-delay: 100ms;
}
.skill_category_button_hidden:nth-child(5){
  transition-delay: 200ms;
}
.skill_category_button_hidden:nth-child(9){
  transition-delay: 100ms;
}
.skill_category_button_hidden:nth-child(11){
  transition-delay: 200ms;
}

.skill_category_button_show{
  border: none;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
  font-family: inter;
  padding: 28%;
  border-radius: 4%;
  opacity: 1;
  filter:blur(0px);
  transform: translateX(0);
  color: rgb(255, 255, 255);
}

.skill_category_button_show:hover{
  scale:1.1;
  border: 4px solid rgb(40, 40, 40);
  transition:all ease-in-out 200ms;
}

/*I know it's super bloated I'll try to fix it later (wrapping it in a div doesn't work)*/
#front_end{
  background:url('images/front-end.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#back_end{
  background:url('images/back-end.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#low_level{
  background:url('images/low-level.webp');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#data_ai{
  background:url('images/AI.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#devops{
  background:url('images/devops.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#theory{
  background:url('images/theory.webp');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Javascript{
  background:url('images/js.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#HTML{
  background:url('images/html.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#CSS{
  background:url('images/css.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Python{
  background:url('images/python.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Nodejs{
  background:url('images/nodejs.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#REST_API{
  background:url('images/rest.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Git{
  background:url('images/git.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Databases{
  background:url('images/db.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#C{
  background:url('images/c.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#C_plus{
  background:url('images/c++.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Assembly_x86{
  background:url('images/assembly.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Arduino{
  background:url('images/arduino.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#AWS{
  background:url('images/aws.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#SQL{
  background:url('images/db.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Linux{
  background:url('images/linux.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Docker{
  background:url('images/docker.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Agile{
  background:url('images/agile.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Websocket{
  background:url('images/websocket.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#MongoDB{
  background:url('images/db.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#Concurrency{
  background:url('images/concurrency.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#SDLC{
  background:url('images/sdlc.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

#testing{
  background:url('images/testing.png');
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skills{
  display:none;
  grid-template-columns : 28% 28% 28%;
  margin: 0% 15%;
  padding : 5%;
  padding-top: 2%;
  gap : 2%;
  align-items : baseline;
  justify-content : center;
  row-gap: 3%;
  border-radius: 4%;
}

#skill_details{
  display:grid;
  margin: 0% 15%;
}

.skill_button {
  border: none;
  font-weight: bold;
  font-size: 130%;
  cursor: pointer;
  font-family: inter;
  padding: 28%;
  border-radius: 4%;
  gap: 10%;
  row-gap: 10%;
  background-color: rgb(0, 115, 255);
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(255, 255, 255);
}

.skill_button:hover{
  scale:1.1;
  border: 4px solid rgb(40, 40, 40);
  transition:all ease-in-out 200ms;
}

@keyframes slide-in {
  from {
    transform: translateY(-200%);
    filter:blur(5px);
  }
  to {
    transform: translateY(0);
  }
}

.slide-in {
  animation: slide-in 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

#skill_details {
  padding-top: 8%;
  padding-bottom: 0%;
  grid-template-columns : 28% 56%;
  align-content: center;
  align-items: center;
}

#skill_details_text {
  font-size: 112%;
}

/*projects section and it's children*/
#projects_section{
  margin: 8% 12%;
  padding: 0% 5%;
  padding-bottom: 0%;
  color:rgb(0, 115, 255);
  font-weight: bold;
  font-size: 2vw;
  margin-bottom: 12%;
}

.title_link{
  display:flex;
  align-items: baseline;
  align-content: stretch;
  column-gap: 2%;
}

.project_title{
  padding-top: 6%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  white-space: nowrap;
}


.bvambient_particle
{
	position: absolute;
	pointer-events: none;
	transition: top linear, left linear;
  z-index: -1;
}

.project_icon{
  height: 3vw;
  width: 3vw;
}

.github_link{
  color:rgb(0, 115, 255);
  text-decoration: none;
}